*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #d2760ed0;
    color: rgb(0, 0, 0);
     height: 3rem;
    position: sticky;
    width: 100%;
    top: 0;
    margin-inline: auto;
}
.iimg{
height: 50px;
}
img{
    width: 100%;
}


.container {
    width: min(90%, 1120px);
    margin-inline: auto;
}

 .menus-link a{
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 1.3rem;
 }


.desktop-menue{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    

}
.menus-link{
    display: flex;
    gap: 50px;
    
}
.menus-link li{
   list-style: none;
 
}

.menus-link li a{
   text-decoration: none;
}

.humburger{
    display: none;
}

.humburger i{
    background-color: #006ece;
    padding: 10px;
    border-radius: 50%;
}
.hero{
    background: url(https://media.istockphoto.com/id/2202976374/photo/modern-gym-with-exercise-machines.webp?a=1&b=1&s=612x612&w=0&k=20&c=jYx67qRKUGtrWLXpplx92xz6E7cIF7-PpTjQYz0-76k=)center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:97vh; 
    /* display: flex; */
 
}
.hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.btn{
    display:inline;
    padding: 15px;
    background-color:#006ece;
    border: none;
    border-radius: 10px;
    width: 150px;
     
}
.btn:hover{
    background-color: white;
    color: black;
}
.hero h1{
    font-size: 3rem;
    font-weight: 600;
    background-color: #fbfbfc;
}


h2{
    font-size: 2.125rem;
    font-weight: 200;
    color: white;
    background-color: #040506;
}
.yoga{
    height: 90vh;
    background: url(https://plus.unsplash.com/premium_photo-1661265933107-85a5dbd815af?q=80&w=1118&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 6rem;
display: flex;
align-items:flex-end;
max-width:90%;
border-radius: 25px;

}
.yoga .content{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
    text-align: center;
    max-width: 1128px;
    margin-bottom: 7rem;
    gap: 40px;
    

}
.yoga .content h1{
    color: white;
    font-size: 2rem;
    background-color: #000000;
}
.yoga .content p{
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.info-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 6rem;
   text-align: center;
}
.box{
    display: flex; 
    flex-direction: column;
    gap: 20px;
    padding: 30px;
     background-color: rgb(227, 218, 207);
     box-shadow: 5px 5px 10px 10px rgba(218, 65, 65, 0.5);
}
.box p{
    background-color: #974233;
    padding: 20px;
    font-size: 2rem;
}
.box p:hover{
background-color: azure;
}

.box img{width: 400px;
}
.cards{
    background:url(https://images.unsplash.com/photo-1584116831289-e53912463c35?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width:90%;
    margin-block: 6rem;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 10px;
    background-attachment: fixed;
}
.info-cards{
    margin-bottom:17rem;
  
}
 .cards .info-cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 2px solid white;
border-radius: 20px;
padding: 10px;
background-color: #7b9bb7;
 } 
 .info-cards p{
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: rgb(0, 0, 0);

    

 }
 .join{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: bottom 40px;;
 }
 .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
}

.video-container iframe {
    display: grid;
    grid-template-columns: 1fr 1fr;
  position: absolute;
  border-radius: 26px;
  margin-top: 7rem;
  top: 0;
  left: 5%;
  width: 80%;
  height: 60%;

}
footer{
    background-color: #000000;
    color: white;
    font-size: 1.25rem;
    padding: 2rem;
  
}


@media(max-width: 768px){
    .desktop-menue{
        display: none;
    }
    header{
        height: 0;
    }

    .humburger{
        display: flex;
         justify-content:center;
          position: absolute;
          top: 7%;
          right: 5%;
          font-size: 1.38rem;
  
}

.info-box{
    display: grid;
    grid-template-columns: 1fr;
}
}